<nav>
    <%= image_pack_tag('media/images/Home.png', alt:'Home', class:'nav-home') %>
    <ol class='admin-nav'>
        <% if registered_user %>
            <li>
                <%= link_to 'Log out', logout_path %>
            </li>
            <li>
                <%= link_to 'Create new article', new_article_path %>
            </li>
        <% end %>
    </ol>
    <%= image_pack_tag('media/images/Questions.png', alt:'Why?', class:'nav-why') %>
</nav>